<div class="general-block-decorator">
    <div class="row">
        <div class="col-md-12 title title-without-tabs">
            {intl l='Edit your social media datas.' d='opengraph.bo.default'}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-container">
                {form name="open.graph.configuration.form"}
                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
                <form method="POST" action="{url path="/admin/module/OpenGraph/save"}" {form_enctype form=$form} class="clearfix">

                {form_hidden_fields form=$form}

                {form_field form=$form field='company_name'}
                <div class="form-group {if $error}has-error{/if}">
                    <label for="{$label_attr.for}" class="control-label">{$label} : </label>
                    <input type="text" id="{$label_attr.for}" name="{$name}" class="form-control" value="{config key='opengraph_company_name'}" title="{$label}">
                </div>
                {/form_field}

                {form_field form=$form field='author_name'}
                <div class="form-group {if $error}has-error{/if}">
                    <label for="{$label_attr.for}" class="control-label">{$label} : </label>
                    <input type="text" id="{$label_attr.for}" name="{$name}" class="form-control" value="{config key='opengraph_author_name'}" title="{$label}">
                </div>
                {/form_field}

                {form_field form=$form field='twitter_company_name'}
                <div class="form-group {if $error}has-error{/if}">
                    <label for="{$label_attr.for}" class="control-label">{$label} : </label>
                    <input type="text" id="{$label_attr.for}" name="{$name}" class="form-control" value="{config key='opengraph_twitter_company_name'}" title="{$label}">
                    <span class="help-block">Must be a valid twitter alias ( ex : @openstudio )</span>
                </div>
                {/form_field}

                {form_field form=$form field='twitter_creator_name'}
                <div class="form-group {if $error}has-error{/if}">
                    <label for="{$label_attr.for}" class="control-label">{$label} : </label>
                    <input type="text" id="{$label_attr.for}" name="{$name}" class="form-control" value="{config key='opengraph_twitter_creator_name'}" title="{$label}">
                    <span class="help-block">Must be a valid twitter alias ( ex : @openstudio )</span>
                </div>
                {/form_field}

                <button type="submit" name="opengraph_save" value="save" class="form-submit-button btn btn-sm btn-default" title="{intl d='opengraph.bo.default' l='Save'}">{intl d='opengraph.bo.default' l='Save'}</button>
                </form>
                {/form}
            </div>
        </div>
    </div>
</div>
