{$url={navigate to='current' noamp=1}}

{$object_id=''}
{if $view_value == 'content'}
    {$object_id={content attr="id"}}
{/if}
{if $view_value == 'folder'}
    {$object_id={folder attr="id"}}
{/if}
{if $view_value == 'category'}
    {$object_id={category attr="id"}}
{/if}
{if $view_value == 'product'}
    {$object_id={product attr="id"}}
{/if}

{$image_src=''}
{ifloop rel="image"}
    {loop name={$view_value} type={$view_value} id=$object_id limit="1"}
        {loop type="image" name="image" source={$view_value} source_id={$ID} width="400" height="300" resize_mode="borders" limit="1"}
            {$image_src = $IMAGE_URL}
        {/loop}
    {/loop}
{/ifloop}

<div class="og-share-container">
    <div class="og-share-box">
        <div class="og-share-btn">
            <a class="og-share-link fa fa-lg fa-facebook-official" href="http://www.facebook.com/sharer.php?u={$url|escape:'url'}" target="_blank">
            </a>
        </div>
        <div class="og-share-btn">
            <a class="og-share-link fa fa-lg fa-twitter" href="https://twitter.com/intent/tweet?source=webclient&amp;url={$url|escape:'url'}" target="_blank">
            </a>
        </div>
        <div class="og-share-btn">
            <a class="og-share-link fa fa-lg fa-google-plus" href="https://plus.google.com/share?url={$url|escape:'url'}" target="_blank">
            </a>
        </div>
        <div class="og-share-btn">
            <a class="og-share-link fa fa-lg fa-pinterest" href="https://www.pinterest.com/pin/create/button/?url={$url|escape:'url'}&amp;media={$image_src|escape:'url'}" target="_blank">
            </a>
        </div>
    </div>
</div>