    {$product_id={product attr="id"}}
    {$title = ''}
    {$description = ''}
    {$image_src = ''}
    {$price=''}

    {loop type="product" name="product_breadcrumb" id=$product_id limit="1" with_prev_next_info="1"}
        {$title = $TITLE}
        {$description = $DESCRIPTION}
    {/loop}

    {loop name="product.details" type="product" id=$product_id limit="1" with_prev_next_info="1" with_prev_next_visible="1"}
        {loop type="image" name="image.main" product="{$ID}" width="560" height="445" resize_mode="borders" limit="1"}
            {$image_src = $IMAGE_URL}
        {/loop}
        {$price = $PRICE}
    {/loop}

    <!-- Facebook and Google+ tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{$title nofilter}" />
    <meta property="og:image" content="{$image_src}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:description" content="{$description nofilter}" />

    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@thomarnaud">
    <meta name="twitter:title" content="{$title}" />
    <meta name="twitter:description" content="{$description}" />
    <meta name="twitter:image" content="{$image_src}" />

    <!-- Pinterest tags -->
    <meta property="og:price:amount" content="{$price}" />
    <meta property="og:price:currency" content="{currency attr="code"}" />
