{$view_value={$smarty.get.view}}
{$object_id=''}
{$meta_filler=False}
{$og_type=''}

{if $view_value == 'content'}
    {$object_id={content attr="id"}}
    {$meta_filler=True}
    {$og_type='article'}
{/if}
{if $view_value == 'folder'}
    {$object_id={folder attr="id"}}
    {$meta_filler=True}
    {$og_type='article'}
{/if}
{if $view_value == 'category'}
    {$object_id={category attr="id"}}
    {$meta_filler=True}
    {$og_type='article'}
{/if}
{if $view_value == 'product'}
    {$object_id={product attr="id"}}
    {$meta_filler=True}
    {$og_type='product'}
{/if}

{if $meta_filler == True}

    {$title=''}
    {$description=''}
    {$image_src=''}
    {$price=''}
    {$url=''}

    {loop name="{$view_value}" type="{$view_value}" id=$object_id limit="1"}
        {$title = $TITLE}

        {$description = $DESCRIPTION}

        {$url={$URL}}

        {if $view_value == 'content'}
            {ifloop rel="image"}
                {loop type="image" name="image" content="{$ID}" width="400" height="300" resize_mode="borders" limit="1"}
                    {$image_src = $IMAGE_URL}
                {/loop}
            {/ifloop}
        {/if}

        {if $view_value == 'product'}
            {ifloop rel="image"}
                {loop type="image" name="image" product="{$ID}" width="400" height="300" resize_mode="borders" limit="1"}
                    {$image_src = $IMAGE_URL}
                {/loop}
            {/ifloop}
            {$price = $PRICE}
        {/if}

        {if $view_value == 'folder'}
            {ifloop rel="image"}
                {loop type="image" name="image" folder="{$ID}" width="400" height="300" resize_mode="borders" limit="1"}
                    {$image_src = $IMAGE_URL}
                {/loop}
            {/ifloop}
        {/if}

        {if $view_value == 'category'}
            {ifloop rel="image"}
                {loop type="image" name="image" category="{$ID}" width="400" height="300" resize_mode="borders" limit="1"}
                    {$image_src = $IMAGE_URL}
                {/loop}
            {/ifloop}
        {/if}
    {/loop}

    {*Facebook, Pinterest and Google+ tags*}
    <meta property="og:type" content="{$og_type}" />
{if {config key='opengraph_company_name'}}
    <meta property="og:site_name" content="{config key='opengraph_company_name'}"/>
{/if}
    <meta property="og:url" content="{$url nofilter}" />
    <meta property="og:title" content="{$title nofilter}" />
    {ifloop rel="image"}
    <meta property="og:image" content="{$image_src}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    {/ifloop}
    <meta property="og:description" content="{$description nofilter}" />
    {if $price}
    {* Price tags *}
    <meta property="og:price:amount" content="{$price}" />
    <meta property="og:price:currency" content="{currency attr="code"}" />
    {/if}

    {* Twitter tags *}
    <meta name="twitter:card" content="summary" />
{if {config key='opengraph_twitter_company_name'}}
    <meta name="twitter:site" content="{config key='opengraph_twitter_company_name'}" />
{/if}
{if {config key='opengraph_twitter_creator_name'}}
    <meta name=”twitter:creator” content="{config key='opengraph_twitter_creator_name'}" />
{/if}
    <meta name="twitter:title" content="{$title}" />
    {ifloop rel="image"}
    <meta name="twitter:image" content="{$image_src}" />
    {/ifloop}
    <meta name="twitter:description" content="{$description}" />
{/if}